.bak_img_sec {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    padding: 0;
}
.marketplace_logo_sec img {
    margin: 25px auto;
}
img.d-block.img-fluid {
    margin: 22px auto;
    width: 150px;
}
.bak_img_sec img {
    width: 100%;
    height: 100vh;
}
.Need_sing_sec {
    text-align: center;
}
.sing_butt {
    background: #FF8203;
    padding: .5vw 4vw;
    color: #fff;
    text-transform: uppercase;
    border-radius: 28px;
    font-family: "roboto";
    font-size: 1.2vw;
    font-weight: 400;
  border:none;
}
.forgot-link a {
    color: #53A318;
    font-size: 14px !important;
    text-transform: capitalize;
    margin: 5px 0 0;
    font-weight: 600;
    font-family: roboto;
}
.forgot-link {
    margin: 0 !important;
}
.form-group label {
    font-size: 1.2vw;
    color: #000;
    font-family: roboto;
    font-weight: 400;
    text-shadow: 0px 0px;
    float: left;
    margin-right: 17px;
    position: relative;
    
}
.form-group input {
    padding: 0 9px;
    height: 35px;
    font-size: 1.2vw;
    font-family: roboto;
}
.astestar {
    position: absolute;
    right: -11px;
    top: -8px;
}
.container {
    padding: 20px;
}
h3.Commerce {
    margin: 35px 0 20px;
    font-family: roboto;
    color: #000;
    font-size: 2vw;
}