<div class="row">
  
  <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6 col-12 bak_img_sec ">
     <img class="Rectangle" src="./assets/imgs/Rectangle.jpg">
  </div>
  <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6 col-12">
    <div class="container">
      <div class="marketplace_logo_sec">
        <img class="d-block img-fluid" src="./assets/imgs/farmr-hd.png">
      </div>
      <h3 class="Commerce">{{'signup.apptitle' | translate}}</h3>
      <form class="form-horizontal" #forgotForm = "ngForm" (ngSubmit) = "forgotPassword(forgotForm)">
        <div class="form-group">
            <label for="email">{{'signup.email' | translate}}
                <i class="mdi mdi-asterisk astestar"  [ngStyle]="{'color':email.invalid && (email.touched)? 'red' : 'black' }" ></i>
            </label>
            <div *ngIf="email.invalid && (email.touched)" class="validation-error">
                <div *ngIf = "email.errors.required">
                  This is required
                </div>
                <div *ngIf = "email.errors.pattern">
                  Not a valid email
                </div>
              </div>
          <input type="email" name = "email" class="form-control" placeholder="{{'signup.email' | translate}}" [(ngModel)]="userEmail" placeholder="Username"
            required #email = "ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
           
        </div>
        <div [ngClass] = "responseClass">
          {{response}}
        </div>
        <div class="Need_sing_sec">
          <button class="btn btn-success  sing_butt" [disabled]="forgotForm.invalid" >Submit</button>
          <p class="forgot-link">
            <a [routerLink]="['/login']">Back to login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
