<div class="row first_row">

  <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">

    <h3>
      <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="p = $event" maxSize="9"
        directionLinks="true" autoHide="true" responsive="true">
      </pagination-controls>
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th>
            <i class="mdi mdi-delete trash-icon" *ngIf="trashActive" (click)="deleteNotifications()"></i>
            <span data-toggle="tooltip" title="Read All" *ngIf="trashActive">
              <i class="mdi mdi-check-all trash-icon" (click)="readNotifications()"></i>
            </span>
          </th>
          <th class="date-field">{{'notifications.date' | translate}}</th>
          <th>{{'notifications.message' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications  | paginate: { itemsPerPage: 10, currentPage: p };let i=index;"
          [ngStyle]="{'font-weight': notification.readstatus==0? '800' : 'normal'}">
          <td><input type="checkbox" class="form-control" (change)="checkBoxMarked()" [(ngModel)]="notification.selected"></td>
          <td *ngIf="notification.readstatus == 0" class="pointer date-field" (click)="readNotifiction(notification.key)">{{notification.date}}</td>
          <td *ngIf="notification.readstatus == 0" class="pointer" (click)="readNotifiction(notification.key)">{{notification.message}}</td>
          <td *ngIf="notification.readstatus == 1" class="date-field">{{notification.date}}</td>
          <td *ngIf="notification.readstatus == 1">{{notification.message}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="notifications?.length == 0">
      <span class="search_no_results">
        <h4>{{noDataFound}}</h4>
      </span>
    </div>
  </div>

</div>