.PLUSBTN {
    top: 6px;
}
.pencilBtn {
    top: 6px;
}
.produceF1 {
    text-align: center;
}
h4.dolr {
    color: #53A318;
    font-size: 2.6em;
    margin: 50px 0 0;
    font-weight: 500;
    font-family: "Roboto";
}
h3.second_rowP {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 20px;
    text-shadow: 1px 0px 0px #000;
    font-family: "Roboto";
    margin: 30px 0 10px;
}


.Transactions img {
    margin: -13px 0;
    width: 2vw;
}
.Transactions li {
    float: left;
    list-style: none;
    width: 33%;
}
img.grey_img {
    width: 3vw;
    padding: 2px;
    height: 2.5vw;
}
.near {
    font-weight: bold;
    font-family: "Roboto";
    font-style: black;
}



img.icon_img {
    width: 20px !important;
}


.colo
{
    color: #FF8203;
}

.first_row {
    margin: 180px 0 0;
}
i.mdi.mdi-bell.colo {
    color: #53A318;
}
a:hover {
    color: #fff;
}
.produce-sales-options{
    /* font-size: 12px;
    margin: 0 auto;
    display: inline-block; */
    font-size: .8vw;
    margin: 0 auto;
    display: inline-block;
}
.producesales h4{
    color: #53A318;
    font-size: 2.6em;
    margin-top: 20px !important;
    font-weight: 500;
    font-family: "Roboto";
}
.produce-sales-options li {
    /* list-style: none;
    margin: 0 15px;
    font-weight: 600;
    font-size: 15px ;
    display: inline-block; */
    list-style: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}
.produce-sales-options a {
    text-decoration: underline !important;
}
.producesales{
    text-align: center;
}


.Recent {
    font-size: 1.2vw;
    text-align: center;
    margin: 18px 0 13px;
    font-family: roboto;
    font-weight: 600;
}

a.see-more {
    float: right;
    padding: 0;
    margin: 0;
    color: #000;
    color: #53A318;
    text-decoration: underline;
}
.oder_sec td {
    width: 25%;
}
.oder_sec th {
    width: 25%;
}
.background_color{
    background-color: #53A318;
}
.translate th {
    width: 50%;
}
.Item_sec td {
    width: 50%;
}

@media (max-width: 768px)
{
    .produce-sales-options {
        font-size: 10px;
     
    }
.produce-sales-options li {
  
    margin: 0 5px;
        font-size: 10px;
}

}